/*
-----------------------------------------------------
HEADER
-----------------------------------------------------
*/

body > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background: $blue;
    z-index: 1000;
    color: $white;
    box-sizing: border-box;
    border-bottom: 1px solid $white;
    text-align: center;

    > h1 {
        font-size: 30px;
        font-weight: 100;
        line-height: $header-height;
        margin: 0;
        padding: 0;
    }
}