/*
-----------------------------------------------------
FEED
-----------------------------------------------------
*/

.box-feed {
    width: 100%;
    height: 100%;
    position: relative;

    > .spinner {
        font-size: 30px;
        line-height: 60px;

        &.centered {
            @include center-absolute();
        }
    }
}