/*
-----------------------------------------------------
PREVIEW
-----------------------------------------------------
*/

.box-preview {
    width: 100%;
    height: 200px;
    color: $white;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 300ms ease;
    border-bottom: 1px solid $white;
    position: relative;

    &:last-child {
        border-bottom: none;
    }

    > .preview {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        display: block;
    }

    > i {
        font-size: 60px;
        @include center-absolute();
        z-index: 100;
    }
}